body {
    background-color: #f8f9fa;
}

.jumbotron {
    background-color: #6098d3;
    color: white;
}

.container {
    max-width: 960px;
}

.result-section {
    margin-top: 20px;
    padding: 0 30px; 
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
    height: 60px; 
}


.item-wrapper {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px;
}

.item-wrapper img {
    max-width: 100%;
    height: auto;
}

#uploaded-image-container {
    margin-bottom: 30px;
}

.uploaded-image {
    max-width: 220px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

#image-label {
    font-size: 1.2em;
    font-weight: bold;
}
